#projectcards {
    padding: 20px;
}

h2{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Anton', sans-serif;

}

#proj {
    text-align: center;
}